@font-face {
  font-family: Moreno;
  src: local("Moreno XThin"),
       local("Moreno-XThin"),
       local("MorenoXThin"),
       url("./fonts/Moreno-XThin.woff");
  font-weight: 100;
}
@font-face {
  font-family: Moreno;
  src: local("Moreno Thin"),
       local("Moreno-Thin"),
       local("MorenoThin"),
       url("./fonts/Moreno-Thin.woff");
  font-weight: 200;
}
/*
@font-face {
  font-family: Moreno;
  src: local("Moreno Light"),
       local("Moreno-Light"),
       local("MorenoLight"),
       url("./fonts/Moreno-Light.woff");
  font-weight: 300;
}
*/
@font-face {
  font-family: Moreno;
  src: local("Moreno Regular"),
       local("Moreno-Regular"),
       local("MorenoRegular"),
       url("./fonts/Moreno-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: Moreno;
  src: local("Moreno Medium"),
       local("Moreno-Medium"),
       local("MorenoMedium"),
       url("./fonts/Moreno-Medium.woff");
  font-weight: 500;
}
/*
@font-face {
  font-family: Moreno;
  src: local("Moreno Semi Bold"),
       local("Moreno SemiBold"),
       local("Moreno-Semi-Bold"),
       local("Moreno-SemiBold"),
       local("MorenoSemiBold"),
       url("./fonts/Moreno-SemiBold.woff");
  font-weight: 600;
}
@font-face {
  font-family: Moreno;
  src: local("Moreno  Bold"),
       local("Moreno-Bold"),
       local("MorenoBold"),
       url("./fonts/Moreno-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: Moreno;
  src: local("Moreno  Black"),
       local("Moreno-Black"),
       local("MorenoBlack"),
       url("./fonts/Moreno-Black.woff");
  font-weight: 800;
}
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  color: #3e3e3f;
  font-family: Moreno, sans-serif;
  font-weight: 200;
  font-size: 9pt;
  background: #3e3e3f;
}

.page {
  /* 4.6*3 + 1.5*2 + 2.1*2 */
  width: 21cm;
  /* height: 29.7cm; */
  margin: 2cm auto;

  padding: 2.1cm;
  box-shadow: 0 0.5cm 1cm rgba(0, 0, 0, 0.3);
  background: white;
}

header {
  display: flex;
  align-items: flex-end;
}
header hgroup {
  flex-basis: 0;
  flex-grow: 1;
}
h1,
h2 {
  margin: 0;
  font-weight: inherit;
}
h1 {
  font-size: 45pt;
  font-weight: 100;
  color: #f15a22;
}
h1 img {
  display: block;
  width: 7cm;
}
h2 {
  color: #387790;
  font-weight: 200;
  margin: 0.2cm 0;
  letter-spacing: 0.1em;
}
h2:last-child {
  margin-bottom: -0.1cm;
}

main {
  margin-top: 1cm;
  column-width: 4.6cm;
  column-gap: 1.5cm;
}

p {
  margin: 0.3cm 0;
}

ul {
  padding-left: 0.5cm;
}
li {
  margin: 0.15cm 0;
}

a {
  display: block;
  color: inherit;
  text-decoration-color: rgba(62, 62, 63, 0.3);
  transition: text-decoration-color 0.15s;
}
a:hover {
  text-decoration-color: rgba(62, 62, 63, 1);
}

a + span {
  display: none;
}

section {
  break-inside: avoid;
  margin-top: 0.5cm;
}
section:first-child,
section :first-child {
  margin-top: 0;
}
section :last-child {
  margin-bottom: 0;
}

h3,
h4 {
  margin: 0;
}
h3 {
  font-weight: 500;
  color: #f15a22;
}

h4 {
  font-weight: 400;
  color: #387790;
}
h4 + p {
  margin-top: 0.1cm;
}

@media (max-width: 21cm) {
  .page {
    width: auto;
    padding: 10vmin;
    margin: 0 auto;
    box-shadow: none;
  }

  h1 img {
    max-width: 35vw;
    min-width: 150px;
  }
}

@media print {
  * {
    color: black !important;
  }

  .page {
    width: 16.8cm; /* 21cm - 2.1cm * 2 */
    margin: 0 auto;
    padding: 0;
    padding-top: 1.5cm;
    box-shadow: none;
  }

  a {
    display: none;
  }
  a + span {
    display: block;
  }
}
