/*
:root {
  --light-grey: #c5c5b8;
  --grey: #3e3e3a;
  --dark-grey: #1d1d17;
  --blue: #387790;
  --red: #f15a22;
}
*/
@font-face {
  font-family: Moreno;
  font-display: block;
  src: local("Moreno XThin"),
       local("Moreno-XThin"),
       local("MorenoXThin"),
       url("./fonts/Moreno-XThin.woff");
  font-weight: 100;
}
@font-face {
  font-family: Moreno;
  font-display: swap;
  src: local("Moreno Thin"),
       local("Moreno-Thin"),
       local("MorenoThin"),
       url("./fonts/Moreno-Thin.woff");
  font-weight: 200;
}
/*
@font-face {
  font-family: Moreno;
  font-display: swap;
  src: local("Moreno Light"),
       local("Moreno-Light"),
       local("MorenoLight"),
       url("./fonts/Moreno-Light.woff");
  font-weight: 300;
}
*/
@font-face {
  font-family: Moreno;
  font-display: swap;
  src: local("Moreno Regular"),
       local("Moreno-Regular"),
       local("MorenoRegular"),
       url("./fonts/Moreno-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: Moreno;
  font-display: swap;
  src: local("Moreno Medium"),
       local("Moreno-Medium"),
       local("MorenoMedium"),
       url("./fonts/Moreno-Medium.woff");
  font-weight: 500;
}
/*
@font-face {
  font-family: Moreno;
  font-display: swap;
  src: local("Moreno Semi Bold"),
       local("Moreno SemiBold"),
       local("Moreno-Semi-Bold"),
       local("Moreno-SemiBold"),
       local("MorenoSemiBold"),
       url("./fonts/Moreno-SemiBold.woff");
  font-weight: 600;
}
@font-face {
  font-family: Moreno;
  font-display: swap;
  src: local("Moreno  Bold"),
       local("Moreno-Bold"),
       local("MorenoBold"),
       url("./fonts/Moreno-Bold.woff");
  font-weight: 700;
}
@font-face {
  font-family: Moreno;
  font-display: swap;
  src: local("Moreno  Black"),
       local("Moreno-Black"),
       local("MorenoBlack"),
       url("./fonts/Moreno-Black.woff");
  font-weight: 800;
}
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  color: #3e3e3a;
  font-family: Moreno, sans-serif;
  font-weight: 200;
  font-size: 9pt;
  background: #3e3e3a;
  background:
    #3e3e3a
    fixed radial-gradient(
      circle farthest-corner at 50% 150%,
      #f15a22,
      #3e3e3a 50%,
      #387790 130%
    );
  line-height: 1.4;
}

.page {
  /* 4.6*3 + 1.5*2 + 2.1*2 */
  width: 21cm;
  /* height: 29.7cm; */
  margin: 2cm auto;

  padding: 2.1cm;
  box-shadow: 0 0.5cm 1cm #3e3e3a;
  background-color: white;
}

header {
  display: flex;
  align-items: flex-end;
}
header hgroup {
  flex-basis: 0;
  flex-grow: 1;
}
h1,
h2 {
  margin: 0;
  font-weight: inherit;
}
h1 {
  position: relative;
  font-size: 45pt;
  font-weight: 100;
  color: #f15a22;
}
h1 span {
  position: absolute;
  margin-top: 0.5cm;
  line-height: 0.5;
  color: transparent;
  font-size: 2.5cm;
  letter-spacing: -0.4cm;
}
h1 span:first-letter {
  margin-left: 0.6cm;
}
h1 img {
  display: block;
  pointer-events: none;
  width: 7cm;
}
h2 {
  color: #387790;
  font-weight: 200;
  letter-spacing: 0.1em;
}
h2:last-child {
  margin-bottom: -0.1cm;
}

main {
  margin-top: 1cm;
  column-width: 5cm;
  column-gap: 0.9cm;
}

p {
  margin: 0.20cm 0;
}

ul {
  padding-left: 0.5cm;
}
li {
  margin: 0.15cm 0;
}

a {
  color: inherit;
  text-decoration-color: rgba(62, 62, 63, 0.3);
  transition: text-decoration-color 0.15s;
}
a:hover {
  text-decoration-color: initial;
}
.link {
  line-height: 0.7cm;
}
.link svg {
  width: 0.5cm;
  margin-right: 0.05cm;
  vertical-align: middle;
}
.link a + span {
  display: none;
}

section {
  break-inside: avoid;
  margin-top: 0.8cm;
}
section:first-child,
section :first-child {
  margin-top: 0;
}
section :last-child {
  margin-bottom: 0;
}

h3,
h4 {
  margin: 0;
}
h3 {
  font-weight: 500;
  color: #f15a22;
}
h3 + p,
h3 + ul {
  margin-top: 0.1cm;
}

h4 {
  font-weight: 400;
  color: #387790;
}
h4 + p {
  margin-top: 0.1cm;
}

@media (max-width: 21cm) {
  .page {
    width: auto;
    padding: 10vmin;
    margin: 0 auto;
    box-shadow: none;
  }

  h1 img {
    max-width: 35vw;
    min-width: 150px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #c5c5b8;
  }

  a {
    text-decoration-color: rgba(197, 197, 184, 0.4);
  }

  h2,
  h4 {
    text-shadow:
      0 0.01cm 0.05cm black,
      0 0.03cm 0.1cm black;
  }

  h1 img {
    filter: drop-shadow(0 0.05cm 0.2cm black);
  }

  .page {
    background-color: #1d1d17;
  }
}

@media print {
  * {
    color: black !important;
  }

  h1 span {
    display: none;
  }

  small {
    font-weight: 100;
  }

  .page {
    width: 16.8cm; /* 21cm - 2.1cm * 2 */
    margin: 0 auto;
    padding: 0;
    padding-top: 0.5cm;
    box-shadow: none;
  }

  .link {
    line-height: 0.5cm;
    letter-spacing: -0.01cm;
  }
  .link svg {
    width: 0.3cm;
    vertical-align: baseline;
  }
  .link a {
    display: none;
  }
  .link a + span {
    display: inline;
  }
}
